In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('car_evaluation.csv')
data

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [8]:
'''
In the above dataset, headers are missing, that means column names are not present,
so let's sort this problem, let's add the header.

Note: By default, pandas will take the first row as header
'''

"\nIn the above dataset, headers are missing, that means column names are not present,\nso let's sort this problem, let's add the header.\n\nNote: By default, pandas will take the first row as header\n"

In [7]:
columns = ['buying','maintenance','doors','person_capacity','lug_boot','safety','cars']

In [9]:
data.columns = columns

In [10]:
data

     buying maintenance  doors person_capacity lug_boot safety   cars
0     vhigh       vhigh      2               2    small    med  unacc
1     vhigh       vhigh      2               2    small   high  unacc
2     vhigh       vhigh      2               2      med    low  unacc
3     vhigh       vhigh      2               2      med    med  unacc
4     vhigh       vhigh      2               2      med   high  unacc
...     ...         ...    ...             ...      ...    ...    ...
1722    low         low  5more            more      med    med   good
1723    low         low  5more            more      med   high  vgood
1724    low         low  5more            more      big    low  unacc
1725    low         low  5more            more      big    med   good
1726    low         low  5more            more      big   high  vgood

[1727 rows x 7 columns]

In [11]:
'''
We see there are some columns with string values.
Let's convert them to integers withour using get_dummies()
'''

"\nWe see there are some columns with string values.\nLet's convert them to integers withour using get_dummies()\n"

In [12]:
## Converting the data type string to integer

buying = {'vhigh':10,'high':8,'med':5,'low':3}
data.buying = [buying[i] for i in data.buying ]
data

      buying maintenance  doors person_capacity lug_boot safety   cars
0         10       vhigh      2               2    small    med  unacc
1         10       vhigh      2               2    small   high  unacc
2         10       vhigh      2               2      med    low  unacc
3         10       vhigh      2               2      med    med  unacc
4         10       vhigh      2               2      med   high  unacc
...      ...         ...    ...             ...      ...    ...    ...
1722       3         low  5more            more      med    med   good
1723       3         low  5more            more      med   high  vgood
1724       3         low  5more            more      big    low  unacc
1725       3         low  5more            more      big    med   good
1726       3         low  5more            more      big   high  vgood

[1727 rows x 7 columns]